
<div class = "container text-center">
<div class = "jumbotron">
<h1>Welcome</h1>
<div class="row-md-5">
  <p>Create your own events and manage the invitations with this sample app for TheOdinProject.com</p>
  <h2>Create an account to get started planning today!</h2>

  
  <%= link_to "Sign up!", signup_path, class: "btn btn-primary btn-sm" %>
  
  
  
  </div>
    


</div>
</div>
